
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2022 © Garcia Jhon Lucas.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by <a
                                    href="http://github.com/garciajhonlucas" target="_blank"
                                    rel="noopener noreferrer">GarciaJhonLucas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waves.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>